@font-face {
	font-family: 'Anton';
	font-weight: 400;
	src: url('~assets/fonts/Anton/Anton-Regular.ttf')
		format('truetype'); /* Safari, Android, iOS */
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Alegreya Sans';
	font-weight: 400;
	src: url('~assets/fonts/AlegreyaSans/AlegreyaSans-Regular.ttf')
		format('truetype'); /* Safari, Android, iOS */
	text-rendering: optimizeLegibility;
}